- title "About", false
h1 About ThotFood
p Find me in app/views/static_pages/about.html.haml

button type="button" class="btn btn-danger" id="hidebtn" Click

#demo this is demo text
.boxx this is the box
/data-toggle="hide" data-target="#demo"